In [1]:
import pandas as pd

In [16]:
#Load data using pandas
data = pd.read_csv("sales_data.csv")

In [17]:
#Calculate Total_sales = Units_sold* Unit price
data["Total_sales"] = data["Units_Sold"] * data["Unit_Price"]

In [18]:
#Group data by Region and product to compute total sales
my_total =(
    data.groupby(["Region", "Product"])["Total_sales"]
    .sum()
    .reset_index()
)

In [19]:
#Identify the top 3 best-selling products(overall)
best = (
    data.groupby("Product")["Total_Sales"]
    .sum()
    .sort_values(ascending = False)
    .head(3)
)

In [24]:
print(my_total)
print("\n best 3:")
print(best)

   Region     Product  Total_sales
0    East      Laptop        90303
1    East      Tablet       136890
2   North      Camera        75675
3   North  Headphones        96794
4   North      Laptop        37375
5   North      Tablet        11472
6   South  Headphones        57760
7   South      Laptop        14208
8   South       Phone        20295
9    West      Camera       185557
10   West  Headphones       147526
11   West      Tablet        96255

 best 3:
Product
Camera        0.0
Headphones    0.0
Laptop        0.0
Name: Total_Sales, dtype: float64

In [25]:
#Export summary to new csv
my_total.to_csv("Sales_summary.csv", index = False)
print("\n Summary saved to sales_summary.csv")

 Summary saved to sales_summary.csv